body {
    font-family: 'Quicksand', sans-serif;
}

/* Giữ màu của nút Add to Wishlist ổn định */
a.active {
    background-color: #f8f9fa;
    color: #007bff;
    font-weight: bold;
    border-left: 4px solid #007bff;
}


.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-links a {
    padding: 10px;
    text-decoration: none;
    color: gray;
    font-weight: 600;
}

.tab-links a.active {
    color: #e11d48;
    border-bottom: 2px solid #e11d48;
}


