body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}
.container {
    text-align: center;
    width: 500px; /* Tăng kích thước form */
    padding: 30px;
}
.tabs {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
    font-weight: bold;
}
.tabs .active {
    background: #F5D1D1;
    border-radius: 30px;
    padding: 12px 40px;
    color: #fff;
}
.tabs button {
    background: none;
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    border-radius: 30px;

}
.btn {
    padding: 10px 20px;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    border-radius: 30px;
    color: #000000;
    font-weight: 300;
}

p {
    color: #555;
    font-size: 18px;
}
input {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;

}
.register-btn {
    background: #F5D1D1;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}
.link {
    margin-top: 15px;
    font-size: 18px;
    text-align: left; /* Căn trái */
}
.link a {
    font-weight: bold;
    text-decoration: underline; /* Gạch chân */
    font-style: italic; /* Nghiêng */
    color: rgb(100, 100, 100);
}